<?xml version="1.0"?>
<launch>
    <!--    Global param-->
    <!--    <param name="highlight_text_color" value="GREEN" />-->


    <node pkg="psr_23-24_parte11_ex2" type="circular_frame.py" name="Mercurio" output="screen">
        <remap from="parent" to="Sol"/>
        <remap from="child" to="Mercurio"/>
        <param name="~radius" value="0.387" />
        <param name="~angular_speed" value="0.0159" />
    </node>

    <node pkg="psr_23-24_parte11_ex2" type="circular_frame.py" name="Venus" output="screen">
        <remap from="parent" to="Sol"/>
        <remap from="child" to="Venus"/>
        <param name="~radius" value="0.723" />
        <param name="~angular_speed" value="0.0118" />
    </node>

    <node pkg="psr_23-24_parte11_ex2" type="circular_frame.py" name="Terra" output="screen">
        <remap from="parent" to="Sol"/>
        <remap from="child" to="Terra"/>
        <param name="~radius" value="1" />
        <param name="~angular_speed" value="0.01" />
    </node>

    <node pkg="psr_23-24_parte11_ex2" type="circular_frame.py" name="Marte" output="screen">
        <remap from="parent" to="Sol"/>
        <remap from="child" to="Marte"/>
        <param name="~radius" value="1.52" />
        <param name="~angular_speed" value="0.00808" />
    </node>

    <node pkg="psr_23-24_parte11_ex2" type="circular_frame.py" name="Lua" output="screen">
        <remap from="parent" to="Terra"/>
        <remap from="child" to="Lua"/>
        <param name="~radius" value="0.257" />
        <param name="~angular_speed" value="0.0343" />
    </node>

    <node pkg="rviz" type="rviz" name="rviz" output="screen" args="-d $(find psr_23-24_parte11_ex2)/config/rviz.rviz"/>

</launch>